# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build main branchimage and tag commit/image with version number

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  tag-and-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # - name: Checkout code
      #   uses: actions/checkout@v3

      - name: Configure Git
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      - name: Retrieve version
        id: retrieve_version
        run: |
          echo "VERSION=$(cat ver.py | grep -o "'.*'")" >> $GITHUB_ENV

      - name: Debug version
        run: |
          VERSION=${VERSION//\'/}
          echo "Version to tag: '$VERSION'"
        env:
          VERSION: ${{ env.VERSION }}
  
      - name: Create image tag
        id: create_image_tag
        run: |
          VERSION=${VERSION//\'/}
          echo "IMAGE_TAG=naeural/edge_node:$VERSION" >> $GITHUB_ENV
        env:
          VERSION: ${{ env.VERSION }}

      - name: Debug version
        run: |
          VERSION=${VERSION//\'/}
          echo "Version to tag: '$VERSION'"
          echo "Image tag: '$IMAGE_TAG'"
        env:
          VERSION: ${{ env.VERSION }}
          IMAGE_TAG: ${{ env.IMAGE_TAG }}

      - name: Tag main commit
        run: |
          VERSION=${VERSION//\'/}
          git tag -a $VERSION -m "Version $VERSION"
          git push origin $VERSION
        env:
          VERSION: ${{ env.VERSION }}


      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: "lab:latest"
          driver: cloud
          endpoint: "naeural/naeural-builder"

      - name: Cleanup space
        run: |
              echo "===========docker buildx du ==================="
              docker buildx du
              echo "===========docker buildx prune -f. Add -af if any other space issues. ============"
              docker buildx prune -f
              echo "===========docker buildx du ================="
              docker buildx du
              echo "========================================"
    

      - name: Build and push Amd64
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.IMAGE_TAG }} 
